<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!--Bootrap icon css file-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
  <style>
    #app {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
    }

    body {
      background-color: pink;
    }

    h1 {
      color: white;
      text-align: center;
      font-family: cursive;
    }
  </style>


</head>

<body>
  <!--Title, with a cute Bootstrap calculator icon:D-->
  <h1><i class="bi bi-calculator"></i> Nur's first Vue calculator</h1>


  <div id="app" class="container">
    <div class="row">
      <div class="col-sm">
        <input type="number" v-model="num1" id="num1">
      </div>
      <div class="col-sm">
        <select v-model="operation" id="operation">
          <option value="+">+</option>
          <option value="-">-</option>
        </select>
      </div>
      <div class="col-sm">
        <input type="number" v-model="num2" id="num2">
      </div>
      <div id="result" class="col-sm">
        <button @click="calculate" class="btn btn-primary btn-sm"
          style="background-color: black; border-color: black; " id="calculateButton">=</button>
        {{result}}
      </div>
    </div>
  </div>

  <script src="js/index.js"></script>
</body>

</html>