<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
  

<div id="app">
<input type="number" v-model="num1">
<select v-model="operation">
  <option value="+">+</option>
  <option value="-">-</option>

</select>

<input type="number" v-model="num2">

<button @click="calculate">=</button>
{{result}}

  <script src="js/index.js"></script>
</body>
</html>